button {
    font: 400 22px akzidenz-grotesk-next-pro, sans-serif;
}

button.header {
    color: white;
    border-radius: 60px;
    border: none;
    background-color: #00D5BC;
    font-size: var(--fontsize48);
    animation: button-scale ease-in 3.5s;
}

#scroll-progress {
    height: 4px;
    border-radius: 5px;
    background: rgb(0,185,155);
    background: linear-gradient(90deg, rgba(0,185,155,1) 0%, rgba(140,62,179,1) 100%);
    top: 0;
    z-index: 9998;
    position: fixed;
}

#banner {
    position: relative;
    display: flex;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 100px;
    padding-bottom: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait)  {
    #banner {
        padding-top: 200px;
        padding-bottom: 50px;
    }
}

#banner .main-content {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

#banner h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 8vw;
    font-weight: bold;
    animation: header-slide ease-in 3.5s;
}

#banner .main-content {
    display: flex;
    flex-wrap: wrap;
}

#banner .main-content .action-box {
    padding-top: 60px;
    padding-bottom: 60px;
    min-width: 380px;
    margin-right: auto;
    margin-left: auto;
}

#banner button {
    font-size: var(--fontsize22);
    width: 160px;
    height: 160px;
    border-radius: 300px;
    margin-top: 25px;
    margin-right: 25px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait)  {
    #banner button {
        width: 320px;
        height: 320px;
        border-radius: 320px;
        margin-top: 50px;
        margin-right: 50px;
    }
}

#banner button img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #banner button img {
        margin-top: 10px;
        width: 48px;
        height: 48px;
    }
}

#banner button.upload {
    background-color: #10B79B;
}

#banner button.upload:hover {
    background-color: #0c816e;
}

#banner button.gallery {
    background-color: #9272B8;
}

#banner button.gallery:hover {
    background-color: #58456e;
}

#header .logo {
    margin-right: auto;
}

#pagination {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}

#pagination a {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #pagination a {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
    }
}

#pagination span.disabled {
    color: #EAEAEA;
    margin-left: 10px;
    margin-right: 10px;
}

#pagination span {
    padding-top: 5px;
}

#pagination a:hover {
    color: #9272B8;
}

#pagination a.page {
    text-align: center;
}

#pagination a.page.current {
    width: 35px;
    height: 30px;
    border-radius: 100px;
    color: white;
    cursor: inherit;
    background-color: #9272B8;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #pagination a.page.current {
        width: 70px;
        height: 60px;
    }
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000F30CC;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: none;
}

#modal.active {
    display: flex;
}

#modal .content {
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    border-radius: 10px;
    margin: 60px;
    background-color: white;
    position: relative;
    display: flex;
}

#modal .content #full-image {
    flex: 1;
    border-right-width: 1px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right-style: solid;
    border-right-color: #E1E1E1;
    background-color: #F5F5F5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#modal .content .info-container {
    margin-top: auto;
    margin-bottom: auto;
    width: 360px;
    margin-left: 30px;
}

#modal .content .info-container h3 {
    font-size: var(--fontsize40);
}

#modal .content .info-container span {
    font-size: var(--fontsize22);
    color: #9272B8;
    margin-bottom: 65px;
    display: block;
}

#modal #close-btn {
    padding-top: 4px;
    width: 40px;
    height: 36px;
    border: none;
    border-radius: 50px;
    background-color: #EAEAEA;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #modal #close-btn {
        padding-top: 8px;
        width: 80px;
        height: 72px;
        border-radius: 80px;
        top: 60px;
        right: 60px;
        padding-left: 18px;
    }
}

#modal #close-btn:hover {
    background-color: #cfcfcf;
}

#modal #close-btn img {
    width: 24px;
    height: 24px;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait)  {
    #modal #close-btn img {
        width: 48px;
        height: 48px;
    }
}

#modal #remix-btn {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: var(--fontsize22);
    background-color: #10B79B;
    border: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #modal #remix-btn {
        width: 280px;
        height: 80px;
        border-radius: 40px;
    }
}

#modal #remix-btn img {
    width: 22px;
    height: 22px;
    vertical-align: text-top;
}

@media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width:980px) and (orientation: portrait) {
    #modal #remix-btn img {
        width: 44px;
        height: 44px;
    }
}

#gallery {
    animation: gallery-slide ease-in 3.5s;
}

#intro-anim {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    animation: intro-container-fade none 4.5s;
}

#intro-anim .dot {
    position: absolute;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
    transform: scale(0, 0);
}

#intro-anim .purple-dot {
    background-color: #9272B8;
    animation: purple-dot normal 2s;
    animation-delay: 1s;
}

#intro-anim .orange-dot {
    background-color: #FCB241;
    animation: orange-dot normal 2s;
    animation-delay: 1s;
}

#intro-anim .white-dot {
    background-color: white;
    animation: white-dot normal 1s;
    animation-delay: 2s;
}

#intro-anim .logo-container {
    display: inline-block;
}

#intro-anim .logo-container .logo-text-top {
    animation: textIn-top ease-in .25s;
}

#intro-anim .logo-container .logo-text-bottom {
    animation: textIn-bottom ease-in .5s;
}

#header {
    animation: header-slide ease-in 3.0s;
}

@keyframes button-scale {
    0% {transform: scale(0, 0)}
    90% {transform: scale(0, 0)}
    100% {transform: scale(1, 1)}
}

@keyframes gallery-slide {
    0% {opacity: 0; transform: translate(0, 50px)}
    70% {opacity: 0; transform: translate(0, 50px)}
    100% {opacity: 1; transform: translate(0, 0)}
}

@keyframes header-slide {
    0% {opacity:0; transform: translate(0, -100px)}
    70% {opacity:0; transform: translate(0, -100px)}
    100% {opacity:1; transform: translate(0, 0%)}
}

@keyframes textIn-top {
    0% {opacity:0; transform: translate(0, 25%)}
    100% {opacity:1; transform: translate(0, 0%)}
}

@keyframes textIn-bottom {
    0% {opacity:0; transform: translate(0, 25%)}
    50% {opacity:0; transform: translate(0, 25%)}
    100% {opacity:1; transform: translate(0, 0%)}
}

@keyframes purple-dot {
    0% {transform: scale(0, 0)}
    50% {transform: scale(50, 50)}
    100% {transform: scale(50, 50)}
}

@keyframes orange-dot {
    0% {transform: scale(0, 0)}
    40% {transform: scale(6, 6)}
    60% {transform: scale(5.5, 5.5)}
    100% {transform: scale(5.5, 5.5)}
}

@keyframes white-dot {
    0% {transform: scale(0, 0)}
    100% {transform: scale(50, 50)}
}

@keyframes intro-container-fade {
    0% {opacity: 1; background-color: #10B79B }
    20% {opacity: 1; background-color: #10B79B }
    50% {opacity: 1; background-color: white }
    100% {opacity: 0; background-color: white }
}
