body {
    margin: 0;
    font-family: sans-serif;
    overscroll-behavior: none;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-image: url('assets/halftone-bg.jpg');
}

#header {
    position: fixed;
    display: flex;
    width: 100%;
    z-index: 9998;
}

#header a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 45px;
}

#header img {
    margin-top: 15px;
}

#footer {
    height: 355px;
    width: calc(100% - 60px);
    background-color: #000F30;
    display: flex;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 65px;
}

#footer .social {
    display: flex;
    align-items: center;
}

#footer .social a {
    margin-right: 30px;
}

#footer .column.logo {
    max-width: 240px;
    margin-top: 0;
}

#footer .column {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    flex: 1;
}

#footer .column .address {
    margin-top: 20px;
}

#footer a.link {
    margin-bottom: 40px;
}

#footer a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

#footer span.tinytext {
    margin-top: auto;
    margin-bottom: 65px;
    font-size: 11px;
}
